
img{width: 100%;}
.hh_1{font-style: italic;color: white;margin-bottom: 0px;padding-left: 25px;}
.pp_1{margin-top: 0px;margin-left: 30px;}
.but{background-color: green;color: white;height: 45px;padding-left: 25px;}
.div_1{background-image: url(../img/1.jpg);background-repeat: no-repeat;background-size: cover;height: 600px;}
.h_1,.h_11{color: white;text-align: center;}
.h_12{color: green;margin-bottom: 0px;}
.h_13{margin-top: 0px;}
.container{margin-top: 50px;}
.img_1{height: 400px;}
.div2{background-color: green;}
.p_1{border: 2px solid white;color: white;padding:10px 100px; text-decoration: none; }
.hh_2,.hh_3{color: white;padding-left: 35px;}
img {height: 200px;}
.div3{text-align: center;}
.p_2{padding-left: 55px;}
.but2{margin-bottom: 30px;}
.img_2{height: 300px;}
.div4{margin-top: 30px;}
.div5{text-align: center;}
